.container {
  padding: 24rpx;
}

.card {
  padding: 24rpx;
  margin-bottom: 20rpx;
  border: 1px solid #eee;
  border-radius: 12rpx;
  background: #fff;
}

.title {
  font-size: 32rpx;
  font-weight: 600;
  margin-bottom: 12rpx;
}

.meta {
  color: #666;
  font-size: 26rpx;
  margin-bottom: 6rpx;
}

.desc {
  color: #333;
  margin: 10rpx 0 0;
  font-size: 28rpx;
  line-height: 1.4;
}

.empty {
  color: #888;
  text-align: center;
  margin-top: 60rpx;
}

